section.skills {
  padding: 0 0 50px 0;
  position: relative;
}

section.skills div.skill-box {
  background-color: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  margin-top: -60px;
}

section.skills div.skill-box h2 {
  font-size: 45px;
  font-weight: 700;
}

section.skills div.skill-box p {
  color: #bbb;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 75px 0;
}

section.skills div.skill-box div.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

section.skills div.skill-box img.background-image-left {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

